<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=vietnamese"
          rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
        table, tr, td {
            border: 0px;
        }
    </style>
</head>

<body style="background: #EDF3F8;">
    <table style="margin: 0px auto; padding: 50px 0px; border-radius: 8px; background: #EDF3F8;" width="480px" align="center">
        <tr>
            <td style="background-color: #00254D; border-radius: 8px 8px 0px 0px; padding: 11px 32px 8px" align="right">
            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAI4AAAAbCAYAAACqVrf4AAAACXBIWXMAAAsTA
            AALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAmMSURBVHgB7VpNbCRHFX7VPbuy2CU7IZdckNtC5MiOhZAiWIexEEh
            wWVsBB8PBY++J09iHHMhlPMqFm22BxIW120JoQ4zkMRICicO015sAJ49BilAQ2raQ+AvCswJnV7G7m/d1v5op93Tbu8IbQrY/qdTdVa9ev
            ap6/X6qW1GBAg+BF16/UY8oWuTb7lEQjttUoMAZqN6qOaGlfsG3Q1zKllL3LCpQ4Az84MuvLpnPKlCdwuIUoOparexMVIb8rc6DdFsURdW
            PDT31nacuXvYvWqXyJ658fOWHX3l1WVGBJxovbMw1oogWcR9x7HJn2vXMdlacu3xx5NHnMq6U8gtX9QSjulkra6UBlG3NmO2sNDXqKw0wC
            aXBTaE4Bbr65luf+mol1dYw7pusNB0qUAD4+R93Fr+/t3Gw+/ffR4Iy6mFtoj7uUoECJqAoXA4MJalK/V15RpuT7le4qicc7H7gqlaMqgo
            rClyUI88LOq4pUOAEUlanbVibtbw+556Oj70+V6OAaGd61aUCjwTeqDpfqlxmxRKcO3BmE162+POBqtavTrde/OQX9ilJsyfoZDCMunG5R
            9DsvPizl4ffuX9QoTBYKdH5o0Eq2uOrSwUeFfOUuAi4Do8eA1hpGpyC8zgRrb31U4cVx8khRZDcC4rX3try33n3nwmtsirnGuPgXIAvTvQ
            +pm1iZmFa5+n/AGfIizccB2wePSawpeml3JcuDJVPIT3R9oeDPznGY/dcLc7xA6oofMQIQ4/eP8RmlBLT+tigM4tzCBRz5RXePv0XkHQap
            Zvp7o6DdbIt56MXL9PLn57BC65dVZ1OHvbpgHkY/Kae+yLt/ePtyr/eO+RIJJzsxThxbKLUDEk6BmZKkXv7a6vNaz+Z21QhVXamVkfScug
            ja/7UPlKyrBr3aYQhLdi2muFJxNqtSHWiKGjuvOS2dD98cQ1KVp1fgRpp7bbIPToKm7+edn1Nd23jxq4Kwn1lq12YWObl3566OSqLFNEgV
            njB5mUBsRg1WRAsIsZvcmlz2QKd8NmkZEOXqe8unhZ+danTb6DPZYGSWOQ68xgRHuUMWo+SeMU/RV6X22clDYZcOJ1tGfSuyF4z+C4zzYL
            JRPo3RK4eby7rab5pSBBck7lpxcOB3yLlIFYcVpq4I7sYT0EjAUtVY0ViJQjxaNGSfRg+7c26PS2ON9+22OxS885Lq4uiYAiyuly3oijsh
            JHlcN9Ym/W3EOmHybBxYroo7CiyHLKT4IzHGcU4cH3BkXUgC9eNwmhLRaqDwFs2Cpu9JBOdFbF8ubalHvPRrlO/VahHmrksC7crvLpC76P
            NqHe5bEs75jcj99tMN2HwAO8VYzwt26jQa3lBN6nlhWKJ60LbKE5o5aXbFRqPy5bwuC4y9DZWguplGTeWX8aoG+OOpK2lrGFb2knWsGL0G
            8kL0kuxpYHSYPOnbi4abe7YrTnPfhC2oiEws+i9S9YEGUFvWLI3eXQfSoNnWCUIjR99TKvBitKCgskb7gW2vQRvm0HngU6Po10frIx1GIy
            bSisT8sSFbJtxgbxBjt4Eo75F/YCvYyxeLDfJBzypn5d6WAzXWJcWt8F8V0kCWDn3GNgcrvdkvHk99yx5BZ+nxL1oeR25xhbJoMNLcyDja
            Re6CLmYbtJkyG3g1Ra+vtmG7OqVN77XfvbSM5Wp575Ez37kGSiwK9+nAKzLvPAeQImtTF0Zm2/CSKk9VrCuFUa9wAoKh7cCLioWJLYOPNm
            AZk1liDvzM7ucjmWp4djaUDTBmZfHAZZzjZ813THFJrBrRcmiRRy9wySGQbBw21AaY2EcmaCpHHiuUbLgJ4J0KBu3482dMfroOTVTiwsaL
            6U0GrA+VYNHjRIlcjJOWX0uV/PkNeCk6qtargzaboqunEUH5RTvODBecNnevPPn3Xjuh0f36dufmdP9PYOszv2Xs6xOSSUm0aWzoKKOshT
            M5Hyy+dRg17GilURbhyAMO3ksQkVddntO7B8j5XDcknXABDcXC6pK/BaG1E1/6jegN93LqNvO6XOFS8dYDE3fyeDdzOExrPuIojqUbF7eg
            VnnFHnN8cwT3Ksip28SGeOtSxXuKesDpKHEg2vRj2XpN3/9XUu/IOI2u9SPdTKtzkNnVWGgthDnwMQFF6wGbyiV7sf/oCawrGpe31jRWEG
            haL3KY7Ww842bLToNrFyRos4pFFmb3s1llywk+uwZ1WkXYfK5msOjSqJ8spHAug62H1FeHdgCXoq2dQoPz5AzVqgMy9DIGi+hh4Xll58Tl
            78ddhdSzVsbb/9yhs95oEj152/V3LQXseAy+DrxvOEyAPycbNYhgMU1uGStsdLgdLh5IuawFDaAShdP/tMRK1oSCPvHbPZKQ/EkunQhrKc
            nM/bjGxO9fuz6YmsYhHuUD4cG006fksVM/1uCDdbfYLwUjyzlhJJPINaRs5eykfmgz34872Rs9L+edlOgNxQrT16gYshOEhijX9bc08qnl
            auts1jIwQWBdk3avDQThCacJSuOa0fTSvGrv/y289291+jfR+8Sp99lW1kT6f4ltgQLNqn2Bd7csY25VhTSPSgBJs3pNVLSxZiQN5xjGEw
            4DlwHPilA6CjaZg2eGNu4Aeuyza5oOAijeFDO/XuB8Odem2tyvLPEcdJdzt68uH9MF5U/+6Pa6JvfdDu9wDi0PMoH+JUlGIZsexLgwcUsy
            e8AWNiyyE3mohuB8UqaMTIWaV+SQtTPuqD0nkGONxYK1ZaAFHQOJZZpkvqb62fJS4llywqMsxQaL6ivlU9cy6TIuGtk/J4U51E/X7yyvdT
            is57ef8baaJiw3pxyO3YQjiLVxfcLNl8zGDpOnY2A2Zt0u5EcUHFAPOj7LZwRWMvMa5xz7H2C8oVYJFrh9HoE42jSN76+ugz+saJxIBzTh
            dE6Am0oTSysZZdxPHCkglxXJekoZHHIsBySZiMT8akfPEI5sMEe9TfEkedWDv95viD4H5cyYvTtGHSetG3JWOALazFunp3kyUvJsYibGt5
            V2SfI96gf32i+LTlP6snJz+M0aF0fCkhmcBbH+tDC9ZQY82wgi+IScYpeoycA2uyn6vTngg/Mj01Zckp9IzL+rzlvnBocs8tph0G0Zdt0B
            ae2CG7vTK+59CGHPoyTcxhkJD4l7qQmJKP0AYA+wJMsCJZtX5qQ/VYpOWLw6DFA5TUgOD0+tjclXUeKvJ511vNhhGwIYiLEMmbg6tHgec/
            /FCwr5EQiUCX5RkVygpxzBnUu+A+syC60rjRPPwAAAABJRU5ErkJggg==">
            </td>
        </tr>
        <tr>
            <td style="padding: 32px; background-color: #fff; border-radius: 0px 0px 8px 8px;">
            <table width="100%">
                <tr>
                    <td style="padding-top: 20px; font-size: 24px; font-weight: 500; color: #00254D">
                        Thông tin tài khoản
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 24px; line-height: 16px; font-size: 12px; color: #2C4B6C;">
                        <span style="font-weight: 600;line-height: 16px;">Tên đăng nhập : </span> {{.USERNAME}} <br>
                        <span style="font-weight: 600;line-height: 16px;">Mật khẩu      : </span> {{.PASS}} <br>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 24px 0px 22px; line-height: 34px; font-size: 12px; color: #fff; font-weight: bold;" align="center">
                        <a style="background-color: #3DAA62; display: block; color: #fff; text-decoration: none; border-radius: 4px; width: 100%;" href="{{.URL}}">Đăng nhập</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 8px 0px">
                        <table width="100%">
                        <td style="height: 0px; background-color: #DDE6ED"></td>
                        </table>
                    </td>
                </tr>
            </table>
            </td>
        </tr>
    </table>
</body>
</html>