@font-face {
  font-family: 'p2plending';
  src:  url('fonts/p2plending.eot?g2wkad');
  src:  url('fonts/p2plending.eot?g2wkad#iefix') format('embedded-opentype'),
    url('fonts/p2plending.ttf?g2wkad') format('truetype'),
    url('fonts/p2plending.woff?g2wkad') format('woff'),
    url('fonts/p2plending.svg?g2wkad#p2plending') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'p2plending' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-profits:before {
  content: "\eb84";
}
.icon-growth:before {
  content: "\eb85";
}
.icon-check-list:before {
  content: "\ea5f";
}
.icon-pregnant:before {
  content: "\eb80";
}
.icon-sofa2:before {
  content: "\eb81";
}
.icon-pregnant2:before {
  content: "\eb86";
}
.icon-wedding-rings:before {
  content: "\eb82";
}
.icon-activity:before {
  content: "\ea76";
}
.icon-airplay:before {
  content: "\ea77";
}
.icon-alert-circle:before {
  content: "\ea78";
}
.icon-alert-octagon:before {
  content: "\ea79";
}
.icon-alert-triangle:before {
  content: "\ea7a";
}
.icon-align-center:before {
  content: "\ea7b";
}
.icon-align-justify:before {
  content: "\ea7c";
}
.icon-align-left:before {
  content: "\ea7d";
}
.icon-align-right:before {
  content: "\ea7e";
}
.icon-anchor:before {
  content: "\ea7f";
}
.icon-aperture:before {
  content: "\ea80";
}
.icon-archive:before {
  content: "\ea81";
}
.icon-arrow-down:before {
  content: "\ea82";
}
.icon-arrow-down-circle:before {
  content: "\ea83";
}
.icon-arrow-down-left:before {
  content: "\ea84";
}
.icon-arrow-down-right:before {
  content: "\ea85";
}
.icon-arrow-left:before {
  content: "\ea86";
}
.icon-arrow-left-circle:before {
  content: "\ea87";
}
.icon-arrow-right:before {
  content: "\ea88";
}
.icon-arrow-right-circle:before {
  content: "\ea89";
}
.icon-arrow-up:before {
  content: "\ea8a";
}
.icon-arrow-up-circle:before {
  content: "\ea8b";
}
.icon-arrow-up-left:before {
  content: "\ea8c";
}
.icon-arrow-up-right:before {
  content: "\ea8d";
}
.icon-at-sign:before {
  content: "\ea8e";
}
.icon-award2:before {
  content: "\ea8f";
}
.icon-bar-chart4:before {
  content: "\ea90";
}
.icon-bar-chart-2:before {
  content: "\ea91";
}
.icon-battery2:before {
  content: "\ea92";
}
.icon-battery-charging:before {
  content: "\ea93";
}
.icon-bell2:before {
  content: "\ea94";
}
.icon-bell-off:before {
  content: "\ea95";
}
.icon-bluetooth2:before {
  content: "\ea96";
}
.icon-bold:before {
  content: "\ea97";
}
.icon-book3:before {
  content: "\ea98";
}
.icon-book-open:before {
  content: "\ea99";
}
.icon-bookmark2:before {
  content: "\ea9a";
}
.icon-box2:before {
  content: "\ea9b";
}
.icon-briefcase2:before {
  content: "\ea9c";
}
.icon-calendar2:before {
  content: "\ea9d";
}
.icon-camera:before {
  content: "\ea9e";
}
.icon-camera-off:before {
  content: "\ea9f";
}
.icon-cast:before {
  content: "\eaa0";
}
.icon-check3:before {
  content: "\eaa1";
}
.icon-check-circle:before {
  content: "\eaa2";
}
.icon-check-square:before {
  content: "\eaa3";
}
.icon-chevron-down:before {
  content: "\eaa4";
}
.icon-chevron-left:before {
  content: "\eaa5";
}
.icon-chevron-right:before {
  content: "\eaa6";
}
.icon-chevron-up:before {
  content: "\eaa7";
}
.icon-chevrons-down:before {
  content: "\eaa8";
}
.icon-chevrons-left:before {
  content: "\eaa9";
}
.icon-chevrons-right:before {
  content: "\eaaa";
}
.icon-chevrons-up:before {
  content: "\eaab";
}
.icon-chrome:before {
  content: "\eaac";
}
.icon-circle:before {
  content: "\eaad";
}
.icon-clipboard:before {
  content: "\eaae";
}
.icon-clock:before {
  content: "\eaaf";
}
.icon-cloud2:before {
  content: "\eab0";
}
.icon-cloud-drizzle:before {
  content: "\eab1";
}
.icon-cloud-lightning:before {
  content: "\eab2";
}
.icon-cloud-off:before {
  content: "\eab3";
}
.icon-cloud-rain:before {
  content: "\eab4";
}
.icon-cloud-snow:before {
  content: "\eab5";
}
.icon-code:before {
  content: "\eab6";
}
.icon-codepen:before {
  content: "\eab7";
}
.icon-command:before {
  content: "\eab8";
}
.icon-compass2:before {
  content: "\eab9";
}
.icon-copy:before {
  content: "\eaba";
}
.icon-corner-down-left:before {
  content: "\eabb";
}
.icon-corner-down-right:before {
  content: "\eabc";
}
.icon-corner-left-down:before {
  content: "\eabd";
}
.icon-corner-left-up:before {
  content: "\eabe";
}
.icon-corner-right-down:before {
  content: "\eabf";
}
.icon-corner-right-up:before {
  content: "\eac0";
}
.icon-corner-up-left:before {
  content: "\eac1";
}
.icon-corner-up-right:before {
  content: "\eac2";
}
.icon-cpu:before {
  content: "\eac3";
}
.icon-credit-card3:before {
  content: "\eac4";
}
.icon-crop:before {
  content: "\eac5";
}
.icon-crosshair:before {
  content: "\eac6";
}
.icon-database:before {
  content: "\eac7";
}
.icon-delete2:before {
  content: "\eac8";
}
.icon-disc:before {
  content: "\eac9";
}
.icon-dollar-sign:before {
  content: "\eaca";
}
.icon-download3:before {
  content: "\eacb";
}
.icon-download-cloud:before {
  content: "\eacc";
}
.icon-droplet:before {
  content: "\eacd";
}
.icon-edit3:before {
  content: "\eace";
}
.icon-edit-2:before {
  content: "\eacf";
}
.icon-edit-3:before {
  content: "\ead0";
}
.icon-external-link:before {
  content: "\ead1";
}
.icon-eye2:before {
  content: "\ead2";
}
.icon-eye-off:before {
  content: "\ead3";
}
.icon-facebook:before {
  content: "\ead4";
}
.icon-fast-forward2:before {
  content: "\ead5";
}
.icon-feather:before {
  content: "\ead6";
}
.icon-file3:before {
  content: "\ead7";
}
.icon-file-minus:before {
  content: "\ead8";
}
.icon-file-plus:before {
  content: "\ead9";
}
.icon-file-text:before {
  content: "\eada";
}
.icon-film:before {
  content: "\eadb";
}
.icon-filter2:before {
  content: "\eadc";
}
.icon-flag2:before {
  content: "\eadd";
}
.icon-folder3:before {
  content: "\eade";
}
.icon-folder-minus:before {
  content: "\eadf";
}
.icon-folder-plus:before {
  content: "\eae0";
}
.icon-gift:before {
  content: "\eae1";
}
.icon-git-branch:before {
  content: "\eae2";
}
.icon-git-commit:before {
  content: "\eae3";
}
.icon-git-merge:before {
  content: "\eae4";
}
.icon-git-pull-request:before {
  content: "\eae5";
}
.icon-github:before {
  content: "\eae6";
}
.icon-gitlab:before {
  content: "\eae7";
}
.icon-globe:before {
  content: "\eae8";
}
.icon-grid:before {
  content: "\eae9";
}
.icon-hard-drive:before {
  content: "\eaea";
}
.icon-hash:before {
  content: "\eaeb";
}
.icon-headphones:before {
  content: "\eaec";
}
.icon-heart3:before {
  content: "\eaed";
}
.icon-help-circle:before {
  content: "\eaee";
}
.icon-home2:before {
  content: "\eaef";
}
.icon-image2:before {
  content: "\eaf0";
}
.icon-inbox2:before {
  content: "\eaf1";
}
.icon-info:before {
  content: "\eaf2";
}
.icon-instagram:before {
  content: "\eaf3";
}
.icon-italic:before {
  content: "\eaf4";
}
.icon-layers2:before {
  content: "\eaf5";
}
.icon-layout:before {
  content: "\eaf6";
}
.icon-life-buoy:before {
  content: "\eaf7";
}
.icon-link:before {
  content: "\eaf8";
}
.icon-link-2:before {
  content: "\eaf9";
}
.icon-linkedin:before {
  content: "\eafa";
}
.icon-list2:before {
  content: "\eafb";
}
.icon-loader:before {
  content: "\eafc";
}
.icon-lock:before {
  content: "\eafd";
}
.icon-log-in:before {
  content: "\eafe";
}
.icon-log-out:before {
  content: "\eaff";
}
.icon-mail2:before {
  content: "\eb00";
}
.icon-map2:before {
  content: "\eb01";
}
.icon-map-pin:before {
  content: "\eb02";
}
.icon-maximize:before {
  content: "\eb03";
}
.icon-maximize-2:before {
  content: "\eb04";
}
.icon-menu2:before {
  content: "\eb05";
}
.icon-message-circle:before {
  content: "\eb06";
}
.icon-message-square:before {
  content: "\eb07";
}
.icon-mic:before {
  content: "\eb08";
}
.icon-mic-off:before {
  content: "\eb09";
}
.icon-minimize2:before {
  content: "\eb0a";
}
.icon-minimize-22:before {
  content: "\eb0b";
}
.icon-minus:before {
  content: "\eb0c";
}
.icon-minus-circle:before {
  content: "\eb0d";
}
.icon-minus-square:before {
  content: "\eb0e";
}
.icon-monitor2:before {
  content: "\eb0f";
}
.icon-moon:before {
  content: "\eb10";
}
.icon-more-horizontal:before {
  content: "\eb11";
}
.icon-more-vertical:before {
  content: "\eb12";
}
.icon-move2:before {
  content: "\eb13";
}
.icon-music2:before {
  content: "\eb14";
}
.icon-navigation:before {
  content: "\eb15";
}
.icon-navigation-2:before {
  content: "\eb16";
}
.icon-octagon:before {
  content: "\eb17";
}
.icon-package2:before {
  content: "\eb18";
}
.icon-paperclip:before {
  content: "\eb19";
}
.icon-pause2:before {
  content: "\eb1a";
}
.icon-pause-circle:before {
  content: "\eb1c";
}
.icon-percent:before {
  content: "\eb1d";
}
.icon-phone:before {
  content: "\eb1e";
}
.icon-phone-call2:before {
  content: "\eb1f";
}
.icon-phone-forwarded:before {
  content: "\eb20";
}
.icon-phone-incoming:before {
  content: "\eb21";
}
.icon-phone-missed:before {
  content: "\eb22";
}
.icon-phone-off:before {
  content: "\eb23";
}
.icon-phone-outgoing:before {
  content: "\eb24";
}
.icon-pie-chart3:before {
  content: "\eb25";
}
.icon-play:before {
  content: "\eb26";
}
.icon-play-circle:before {
  content: "\eb27";
}
.icon-plus2:before {
  content: "\eb28";
}
.icon-plus-circle:before {
  content: "\eb29";
}
.icon-plus-square:before {
  content: "\eb2a";
}
.icon-pocket:before {
  content: "\eb2b";
}
.icon-power:before {
  content: "\eb2c";
}
.icon-printer2:before {
  content: "\eb2d";
}
.icon-radio:before {
  content: "\eb2e";
}
.icon-refresh-ccw:before {
  content: "\eb2f";
}
.icon-refresh-cw:before {
  content: "\eb30";
}
.icon-repeat2:before {
  content: "\eb31";
}
.icon-rewind:before {
  content: "\eb32";
}
.icon-rotate-ccw:before {
  content: "\eb33";
}
.icon-rotate-cw:before {
  content: "\eb34";
}
.icon-rss2:before {
  content: "\eb35";
}
.icon-save2:before {
  content: "\eb36";
}
.icon-scissors:before {
  content: "\eb37";
}
.icon-search3:before {
  content: "\eb38";
}
.icon-send:before {
  content: "\eb39";
}
.icon-server:before {
  content: "\eb3a";
}
.icon-settings2:before {
  content: "\eb3b";
}
.icon-share2:before {
  content: "\eb3c";
}
.icon-share-2:before {
  content: "\eb3d";
}
.icon-shield3:before {
  content: "\eb3e";
}
.icon-shield-off:before {
  content: "\eb3f";
}
.icon-shopping-bag:before {
  content: "\eb40";
}
.icon-shopping-cart2:before {
  content: "\eb41";
}
.icon-shuffle2:before {
  content: "\eb42";
}
.icon-sidebar:before {
  content: "\eb43";
}
.icon-skip-back:before {
  content: "\eb44";
}
.icon-skip-forward:before {
  content: "\eb45";
}
.icon-slack:before {
  content: "\eb46";
}
.icon-slash:before {
  content: "\eb47";
}
.icon-sliders:before {
  content: "\eb48";
}
.icon-smartphone3:before {
  content: "\eb49";
}
.icon-speaker3:before {
  content: "\eb4a";
}
.icon-square:before {
  content: "\eb4b";
}
.icon-star2:before {
  content: "\eb4c";
}
.icon-stop-circle:before {
  content: "\eb4d";
}
.icon-sun:before {
  content: "\eb4e";
}
.icon-sunrise:before {
  content: "\eb4f";
}
.icon-sunset:before {
  content: "\eb50";
}
.icon-tablet:before {
  content: "\eb51";
}
.icon-tag2:before {
  content: "\eb52";
}
.icon-target2:before {
  content: "\eb53";
}
.icon-terminal:before {
  content: "\eb54";
}
.icon-thermometer:before {
  content: "\eb55";
}
.icon-thumbs-down:before {
  content: "\eb56";
}
.icon-thumbs-up:before {
  content: "\eb57";
}
.icon-toggle-left:before {
  content: "\eb58";
}
.icon-toggle-right:before {
  content: "\eb59";
}
.icon-trash2:before {
  content: "\eb5a";
}
.icon-trash-2:before {
  content: "\eb5b";
}
.icon-trending-down:before {
  content: "\eb5c";
}
.icon-trending-up:before {
  content: "\eb5d";
}
.icon-triangle:before {
  content: "\eb5e";
}
.icon-truck:before {
  content: "\eb5f";
}
.icon-tv:before {
  content: "\eb60";
}
.icon-twitter:before {
  content: "\eb61";
}
.icon-type:before {
  content: "\eb62";
}
.icon-umbrella2:before {
  content: "\eb63";
}
.icon-underline:before {
  content: "\eb64";
}
.icon-unlock:before {
  content: "\eb65";
}
.icon-upload3:before {
  content: "\eb66";
}
.icon-upload-cloud:before {
  content: "\eb67";
}
.icon-user3:before {
  content: "\eb68";
}
.icon-user-check:before {
  content: "\eb69";
}
.icon-user-minus:before {
  content: "\eb6a";
}
.icon-user-plus:before {
  content: "\eb6b";
}
.icon-user-x:before {
  content: "\eb6c";
}
.icon-users2:before {
  content: "\eb6d";
}
.icon-video:before {
  content: "\eb6e";
}
.icon-video-off:before {
  content: "\eb6f";
}
.icon-voicemail:before {
  content: "\eb70";
}
.icon-volume:before {
  content: "\eb71";
}
.icon-volume-1:before {
  content: "\eb72";
}
.icon-volume-2:before {
  content: "\eb73";
}
.icon-volume-x:before {
  content: "\eb74";
}
.icon-watch:before {
  content: "\eb75";
}
.icon-wifi2:before {
  content: "\eb76";
}
.icon-wifi-off:before {
  content: "\eb77";
}
.icon-wind:before {
  content: "\eb78";
}
.icon-x:before {
  content: "\eb79";
}
.icon-x-circle:before {
  content: "\eb7a";
}
.icon-x-square:before {
  content: "\eb7b";
}
.icon-youtube:before {
  content: "\eb7c";
}
.icon-zap:before {
  content: "\eb7d";
}
.icon-zap-off:before {
  content: "\eb7e";
}
.icon-zoom-in2:before {
  content: "\eb7f";
}
.icon-zoom-out2:before {
  content: "\eb83";
}
.icon-contract-2:before {
  content: "\ea11";
}
.icon-sofa:before {
  content: "\ea12";
}
.icon-contract-1:before {
  content: "\ea13";
}
.icon-prayer-room:before {
  content: "\ea14";
}
.icon-hospital:before {
  content: "\ea15";
}
.icon-stamp-1:before {
  content: "\ea16";
}
.icon-shield-1:before {
  content: "\ea17";
}
.icon-suitcase:before {
  content: "\ea18";
}
.icon-hierarchical-structure:before {
  content: "\ea19";
}
.icon-train:before {
  content: "\ea1a";
}
.icon-lift:before {
  content: "\ea1b";
}
.icon-wallet-1:before {
  content: "\ea1c";
}
.icon-airplane:before {
  content: "\ea1d";
}
.icon-speedometer:before {
  content: "\ea1e";
}
.icon-strategy-1:before {
  content: "\ea1f";
}
.icon-toilet:before {
  content: "\ea20";
}
.icon-growth-1:before {
  content: "\ea21";
}
.icon-policeman:before {
  content: "\ea22";
}
.icon-escalator:before {
  content: "\ea23";
}
.icon-newspaper:before {
  content: "\ea24";
}
.icon-exit:before {
  content: "\ea25";
}
.icon-presentation-1:before {
  content: "\ea26";
}
.icon-pyramid-chart:before {
  content: "\ea27";
}
.icon-scanner:before {
  content: "\ea28";
}
.icon-bar-chart:before {
  content: "\ea29";
}
.icon-security-gate:before {
  content: "\ea2a";
}
.icon-folder:before {
  content: "\ea2b";
}
.icon-mute:before {
  content: "\ea2c";
}
.icon-atm:before {
  content: "\ea2d";
}
.icon-calculator-1:before {
  content: "\ea2e";
}
.icon-document:before {
  content: "\ea2f";
}
.icon-stairs-1:before {
  content: "\ea30";
}
.icon-contract:before {
  content: "\ea31";
}
.icon-stairs:before {
  content: "\ea32";
}
.icon-handicap:before {
  content: "\ea33";
}
.icon-shield:before {
  content: "\ea34";
}
.icon-arrival:before {
  content: "\ea35";
}
.icon-calculator:before {
  content: "\ea36";
}
.icon-backpack:before {
  content: "\ea37";
}
.icon-bank-1:before {
  content: "\ea38";
}
.icon-check-in:before {
  content: "\ea39";
}
.icon-target-1:before {
  content: "\ea3a";
}
.icon-coin-1:before {
  content: "\ea3b";
}
.icon-trolley:before {
  content: "\ea3c";
}
.icon-cutlery:before {
  content: "\ea3d";
}
.icon-network-1:before {
  content: "\ea3e";
}
.icon-briefcase-1:before {
  content: "\ea3f";
}
.icon-motorcycle:before {
  content: "\ea40";
}
.icon-bus:before {
  content: "\ea41";
}
.icon-padlock:before {
  content: "\ea42";
}
.icon-bank:before {
  content: "\ea43";
}
.icon-taxi-1:before {
  content: "\ea44";
}
.icon-safety-box:before {
  content: "\ea45";
}
.icon-taxi:before {
  content: "\ea46";
}
.icon-diamond:before {
  content: "\ea47";
}
.icon-information:before {
  content: "\ea48";
}
.icon-flower:before {
  content: "\ea49";
}
.icon-nursing-room:before {
  content: "\ea4a";
}
.icon-departures:before {
  content: "\ea4b";
}
.icon-umbrella:before {
  content: "\ea4c";
}
.icon-pen:before {
  content: "\ea4d";
}
.icon-file:before {
  content: "\ea4e";
}
.icon-diagram:before {
  content: "\ea4f";
}
.icon-exchange-1:before {
  content: "\ea50";
}
.icon-building:before {
  content: "\ea51";
}
.icon-agenda:before {
  content: "\ea52";
}
.icon-target:before {
  content: "\ea53";
}
.icon-puzzle:before {
  content: "\ea54";
}
.icon-package:before {
  content: "\ea55";
}
.icon-medal:before {
  content: "\ea56";
}
.icon-award:before {
  content: "\ea57";
}
.icon-goal:before {
  content: "\ea58";
}
.icon-money-1:before {
  content: "\ea59";
}
.icon-search:before {
  content: "\ea5a";
}
.icon-exchange:before {
  content: "\ea5b";
}
.icon-hourglass:before {
  content: "\ea5c";
}
.icon-stamp:before {
  content: "\ea5d";
}
.icon-coin:before {
  content: "\ea5e";
}
.icon-time-is-money:before {
  content: "\ea60";
}
.icon-wallet:before {
  content: "\ea61";
}
.icon-balance:before {
  content: "\ea62";
}
.icon-strategy:before {
  content: "\ea63";
}
.icon-growth2:before {
  content: "\ea64";
}
.icon-check:before {
  content: "\ea65";
}
.icon-ticket:before {
  content: "\ea66";
}
.icon-analytics:before {
  content: "\ea67";
}
.icon-pie-chart:before {
  content: "\ea68";
}
.icon-presentation:before {
  content: "\ea69";
}
.icon-network:before {
  content: "\ea6a";
}
.icon-tag:before {
  content: "\ea6b";
}
.icon-credit-card-1:before {
  content: "\ea6c";
}
.icon-credit-card:before {
  content: "\ea6d";
}
.icon-key:before {
  content: "\ea6e";
}
.icon-gold-ingot:before {
  content: "\ea6f";
}
.icon-abacus:before {
  content: "\ea70";
}
.icon-atm2:before {
  content: "\ea71";
}
.icon-money:before {
  content: "\ea72";
}
.icon-money-bag:before {
  content: "\ea73";
}
.icon-auction:before {
  content: "\ea74";
}
.icon-briefcase:before {
  content: "\ea75";
}
.icon-alarm-clock:before {
  content: "\e9ae";
}
.icon-atomic:before {
  content: "\e9af";
}
.icon-bar-chart2:before {
  content: "\e9b0";
}
.icon-battery:before {
  content: "\e9b1";
}
.icon-battery-1:before {
  content: "\e9b2";
}
.icon-bell:before {
  content: "\e9b3";
}
.icon-bluetooth:before {
  content: "\e9b4";
}
.icon-book2:before {
  content: "\e9b5";
}
.icon-box:before {
  content: "\e9b6";
}
.icon-calculator2:before {
  content: "\e9b7";
}
.icon-calendar:before {
  content: "\e9b8";
}
.icon-car:before {
  content: "\e9b9";
}
.icon-chat:before {
  content: "\e9ba";
}
.icon-chat-1:before {
  content: "\e9bb";
}
.icon-checked2:before {
  content: "\e9bc";
}
.icon-cloud:before {
  content: "\e9bd";
}
.icon-cloud-computing:before {
  content: "\e9be";
}
.icon-cloud-computing-1:before {
  content: "\e9bf";
}
.icon-compass:before {
  content: "\e9c0";
}
.icon-credit-card2:before {
  content: "\e9c1";
}
.icon-cursor2:before {
  content: "\e9c2";
}
.icon-cutlery2:before {
  content: "\e9c3";
}
.icon-download2:before {
  content: "\e9c4";
}
.icon-edit2:before {
  content: "\e9c5";
}
.icon-envelope:before {
  content: "\e9c6";
}
.icon-eraser:before {
  content: "\e9c7";
}
.icon-eye:before {
  content: "\e9c8";
}
.icon-fast-forward:before {
  content: "\e9c9";
}
.icon-favorites:before {
  content: "\e9ca";
}
.icon-file2:before {
  content: "\e9cb";
}
.icon-file-1:before {
  content: "\e9cc";
}
.icon-file-2:before {
  content: "\e9cd";
}
.icon-file-3:before {
  content: "\e9ce";
}
.icon-filter:before {
  content: "\e9cf";
}
.icon-flag:before {
  content: "\e9d0";
}
.icon-folder2:before {
  content: "\e9d1";
}
.icon-folder-1:before {
  content: "\e9d2";
}
.icon-gamepad:before {
  content: "\e9d3";
}
.icon-heart2:before {
  content: "\e9d4";
}
.icon-home:before {
  content: "\e9d5";
}
.icon-id-card:before {
  content: "\e9d6";
}
.icon-idea:before {
  content: "\e9d7";
}
.icon-image:before {
  content: "\e9d8";
}
.icon-inbox:before {
  content: "\e9d9";
}
.icon-information2:before {
  content: "\e9da";
}
.icon-key2:before {
  content: "\e9db";
}
.icon-laptop:before {
  content: "\e9dc";
}
.icon-layers:before {
  content: "\e9dd";
}
.icon-like2:before {
  content: "\e9de";
}
.icon-line-chart:before {
  content: "\e9df";
}
.icon-loupe:before {
  content: "\e9e0";
}
.icon-mail:before {
  content: "\e9e1";
}
.icon-map:before {
  content: "\e9e2";
}
.icon-medal2:before {
  content: "\e9e3";
}
.icon-megaphone2:before {
  content: "\e9e4";
}
.icon-message:before {
  content: "\e9e5";
}
.icon-message-1:before {
  content: "\e9e6";
}
.icon-message-2:before {
  content: "\e9e7";
}
.icon-microphone2:before {
  content: "\e9e8";
}
.icon-money2:before {
  content: "\e9e9";
}
.icon-monitor:before {
  content: "\e9ea";
}
.icon-music:before {
  content: "\e9eb";
}
.icon-next2:before {
  content: "\e9ec";
}
.icon-padlock2:before {
  content: "\e9ed";
}
.icon-padlock-12:before {
  content: "\e9ee";
}
.icon-paint-brush:before {
  content: "\e9ef";
}
.icon-pause:before {
  content: "\e9f0";
}
.icon-phone-call:before {
  content: "\e9f1";
}
.icon-photo-camera2:before {
  content: "\e9f2";
}
.icon-placeholder2:before {
  content: "\e9f3";
}
.icon-planet-earth:before {
  content: "\e9f4";
}
.icon-play-button:before {
  content: "\e9f5";
}
.icon-power-button:before {
  content: "\e9f6";
}
.icon-presentation2:before {
  content: "\e9f7";
}
.icon-printer:before {
  content: "\e9f8";
}
.icon-reload:before {
  content: "\e9f9";
}
.icon-return:before {
  content: "\e9fa";
}
.icon-rss:before {
  content: "\e9fb";
}
.icon-safebox:before {
  content: "\e9fc";
}
.icon-settings:before {
  content: "\e9fd";
}
.icon-settings-1:before {
  content: "\e9fe";
}
.icon-settings-2:before {
  content: "\e9ff";
}
.icon-share:before {
  content: "\ea00";
}
.icon-shield2:before {
  content: "\ea01";
}
.icon-shopping-cart:before {
  content: "\ea02";
}
.icon-smartphone2:before {
  content: "\ea03";
}
.icon-speaker2:before {
  content: "\ea04";
}
.icon-speakers:before {
  content: "\ea05";
}
.icon-trash:before {
  content: "\ea06";
}
.icon-trophy:before {
  content: "\ea07";
}
.icon-upload2:before {
  content: "\ea08";
}
.icon-user2:before {
  content: "\ea09";
}
.icon-user-12:before {
  content: "\ea0a";
}
.icon-user-22:before {
  content: "\ea0b";
}
.icon-user-3:before {
  content: "\ea0c";
}
.icon-users:before {
  content: "\ea0d";
}
.icon-video-camera:before {
  content: "\ea0e";
}
.icon-wifi:before {
  content: "\ea0f";
}
.icon-zoom-in:before {
  content: "\ea10";
}
.icon-zoom-out:before {
  content: "\eb1b";
}
.icon-add:before {
  content: "\e900";
}
.icon-bar-chart3:before {
  content: "\e901";
}
.icon-book:before {
  content: "\e902";
}
.icon-bookmark:before {
  content: "\e903";
}
.icon-cancel:before {
  content: "\e904";
}
.icon-check2:before {
  content: "\e905";
}
.icon-checked:before {
  content: "\e906";
}
.icon-check-mark:before {
  content: "\e907";
}
.icon-close:before {
  content: "\e908";
}
.icon-communication:before {
  content: "\e909";
}
.icon-communication-1:before {
  content: "\e90a";
}
.icon-communication-2:before {
  content: "\e90b";
}
.icon-communication-3:before {
  content: "\e90c";
}
.icon-communication-4:before {
  content: "\e90d";
}
.icon-communication-5:before {
  content: "\e90e";
}
.icon-communication-6:before {
  content: "\e90f";
}
.icon-cursor:before {
  content: "\e910";
}
.icon-cursor-1:before {
  content: "\e911";
}
.icon-cursor-2:before {
  content: "\e912";
}
.icon-delete:before {
  content: "\e913";
}
.icon-dislike:before {
  content: "\e914";
}
.icon-dislike-1:before {
  content: "\e915";
}
.icon-down-arrow:before {
  content: "\e916";
}
.icon-download:before {
  content: "\e917";
}
.icon-download-1:before {
  content: "\e918";
}
.icon-download-2:before {
  content: "\e919";
}
.icon-edit:before {
  content: "\e91a";
}
.icon-email:before {
  content: "\e91b";
}
.icon-email-1:before {
  content: "\e91c";
}
.icon-expand:before {
  content: "\e91d";
}
.icon-expand-1:before {
  content: "\e91e";
}
.icon-export:before {
  content: "\e91f";
}
.icon-forbidden:before {
  content: "\e920";
}
.icon-heart:before {
  content: "\e921";
}
.icon-heart-1:before {
  content: "\e922";
}
.icon-heart-2:before {
  content: "\e923";
}
.icon-import:before {
  content: "\e924";
}
.icon-import-1:before {
  content: "\e925";
}
.icon-import-2:before {
  content: "\e926";
}
.icon-left-arrow:before {
  content: "\e927";
}
.icon-left-arrow-1:before {
  content: "\e928";
}
.icon-letter:before {
  content: "\e929";
}
.icon-levels:before {
  content: "\e92a";
}
.icon-levels-1:before {
  content: "\e92b";
}
.icon-like:before {
  content: "\e92c";
}
.icon-like-1:before {
  content: "\e92d";
}
.icon-list:before {
  content: "\e92e";
}
.icon-list-1:before {
  content: "\e92f";
}
.icon-list-2:before {
  content: "\e930";
}
.icon-list-3:before {
  content: "\e931";
}
.icon-list-4:before {
  content: "\e932";
}
.icon-login:before {
  content: "\e933";
}
.icon-logout:before {
  content: "\e934";
}
.icon-megaphone:before {
  content: "\e935";
}
.icon-menu:before {
  content: "\e936";
}
.icon-menu-1:before {
  content: "\e937";
}
.icon-menu-2:before {
  content: "\e938";
}
.icon-microphone:before {
  content: "\e939";
}
.icon-minimize:before {
  content: "\e93a";
}
.icon-minimize-1:before {
  content: "\e93b";
}
.icon-minimize-2:before {
  content: "\e93c";
}
.icon-minimize-3:before {
  content: "\e93d";
}
.icon-more:before {
  content: "\e93e";
}
.icon-more-1:before {
  content: "\e93f";
}
.icon-move:before {
  content: "\e940";
}
.icon-move-1:before {
  content: "\e941";
}
.icon-mute2:before {
  content: "\e942";
}
.icon-networking:before {
  content: "\e943";
}
.icon-next:before {
  content: "\e944";
}
.icon-next-1:before {
  content: "\e945";
}
.icon-organization:before {
  content: "\e946";
}
.icon-orientation:before {
  content: "\e947";
}
.icon-padlock3:before {
  content: "\e948";
}
.icon-padlock-1:before {
  content: "\e949";
}
.icon-paper-plane:before {
  content: "\e94a";
}
.icon-password:before {
  content: "\e94b";
}
.icon-photo-camera:before {
  content: "\e94c";
}
.icon-picture:before {
  content: "\e94d";
}
.icon-pie-chart2:before {
  content: "\e94e";
}
.icon-pie-chart-1:before {
  content: "\e94f";
}
.icon-pie-chart-2:before {
  content: "\e950";
}
.icon-placeholder:before {
  content: "\e951";
}
.icon-plus:before {
  content: "\e952";
}
.icon-previous:before {
  content: "\e953";
}
.icon-previous-1:before {
  content: "\e954";
}
.icon-repeat:before {
  content: "\e955";
}
.icon-repeat-1:before {
  content: "\e956";
}
.icon-repeat-2:before {
  content: "\e957";
}
.icon-repeat-3:before {
  content: "\e958";
}
.icon-repeat-4:before {
  content: "\e959";
}
.icon-repeat-5:before {
  content: "\e95a";
}
.icon-repeat-6:before {
  content: "\e95b";
}
.icon-repeat-7:before {
  content: "\e95c";
}
.icon-repeat-8:before {
  content: "\e95d";
}
.icon-repeat-9:before {
  content: "\e95e";
}
.icon-right-arrow:before {
  content: "\e95f";
}
.icon-right-arrow-1:before {
  content: "\e960";
}
.icon-save:before {
  content: "\e961";
}
.icon-search2:before {
  content: "\e962";
}
.icon-shuffle:before {
  content: "\e963";
}
.icon-smartphone:before {
  content: "\e964";
}
.icon-smartphone-1:before {
  content: "\e965";
}
.icon-sort:before {
  content: "\e966";
}
.icon-sort-1:before {
  content: "\e967";
}
.icon-speaker:before {
  content: "\e968";
}
.icon-speech-bubble:before {
  content: "\e969";
}
.icon-speech-bubble-1:before {
  content: "\e96a";
}
.icon-speech-bubble-2:before {
  content: "\e96b";
}
.icon-speech-bubble-3:before {
  content: "\e96c";
}
.icon-speech-bubble-4:before {
  content: "\e96d";
}
.icon-speech-bubble-5:before {
  content: "\e96e";
}
.icon-speech-bubble-6:before {
  content: "\e96f";
}
.icon-speech-bubble-7:before {
  content: "\e970";
}
.icon-speech-bubble-8:before {
  content: "\e971";
}
.icon-speech-bubble-9:before {
  content: "\e972";
}
.icon-speech-bubble-10:before {
  content: "\e973";
}
.icon-speech-bubble-11:before {
  content: "\e974";
}
.icon-speech-bubble-12:before {
  content: "\e975";
}
.icon-speech-bubble-13:before {
  content: "\e976";
}
.icon-speech-bubble-14:before {
  content: "\e977";
}
.icon-speech-bubble-15:before {
  content: "\e978";
}
.icon-speech-bubble-16:before {
  content: "\e979";
}
.icon-speech-bubble-17:before {
  content: "\e97a";
}
.icon-speech-bubble-18:before {
  content: "\e97b";
}
.icon-speech-bubble-19:before {
  content: "\e97c";
}
.icon-speech-bubble-20:before {
  content: "\e97d";
}
.icon-speech-bubble-21:before {
  content: "\e97e";
}
.icon-speech-bubble-22:before {
  content: "\e97f";
}
.icon-speech-bubble-23:before {
  content: "\e980";
}
.icon-speech-bubble-24:before {
  content: "\e981";
}
.icon-speech-bubble-25:before {
  content: "\e982";
}
.icon-speech-bubble-26:before {
  content: "\e983";
}
.icon-speech-bubble-27:before {
  content: "\e984";
}
.icon-speech-bubble-28:before {
  content: "\e985";
}
.icon-star:before {
  content: "\e986";
}
.icon-sticker:before {
  content: "\e987";
}
.icon-sticker-1:before {
  content: "\e988";
}
.icon-sticker-2:before {
  content: "\e989";
}
.icon-sticker-3:before {
  content: "\e98a";
}
.icon-sticker-4:before {
  content: "\e98b";
}
.icon-stick-man:before {
  content: "\e98c";
}
.icon-stick-man-1:before {
  content: "\e98d";
}
.icon-stick-man-2:before {
  content: "\e98e";
}
.icon-stick-man-3:before {
  content: "\e98f";
}
.icon-stick-man-4:before {
  content: "\e990";
}
.icon-tap:before {
  content: "\e991";
}
.icon-telephone:before {
  content: "\e992";
}
.icon-telephone-1:before {
  content: "\e993";
}
.icon-telephone-2:before {
  content: "\e994";
}
.icon-telephone-3:before {
  content: "\e995";
}
.icon-telephone-4:before {
  content: "\e996";
}
.icon-telephone-5:before {
  content: "\e997";
}
.icon-telephone-6:before {
  content: "\e998";
}
.icon-telephone-7:before {
  content: "\e999";
}
.icon-telephone-8:before {
  content: "\e99a";
}
.icon-transfer:before {
  content: "\e99b";
}
.icon-transfer-1:before {
  content: "\e99c";
}
.icon-transfer-2:before {
  content: "\e99d";
}
.icon-transfer-3:before {
  content: "\e99e";
}
.icon-transfer-4:before {
  content: "\e99f";
}
.icon-transfer-5:before {
  content: "\e9a0";
}
.icon-transfer-6:before {
  content: "\e9a1";
}
.icon-transfer-7:before {
  content: "\e9a2";
}
.icon-transfer-8:before {
  content: "\e9a3";
}
.icon-transfer-9:before {
  content: "\e9a4";
}
.icon-transfer-10:before {
  content: "\e9a5";
}
.icon-up-arrow:before {
  content: "\e9a6";
}
.icon-upload:before {
  content: "\e9a7";
}
.icon-upload-1:before {
  content: "\e9a8";
}
.icon-upload-2:before {
  content: "\e9a9";
}
.icon-user:before {
  content: "\e9aa";
}
.icon-user-1:before {
  content: "\e9ab";
}
.icon-user-2:before {
  content: "\e9ac";
}
.icon-wallet-(1):before {
  content: "\e9ad";
}
